#home {
    font-family: Elephant;
    font-weight: bolder;
    font-style: italic;
    color: black;
}

h1 {
    font-size: 3rem;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
     
}