.navbar {
    position: relative;
    margin: 10px auto;
}

ul {
    margin-left: 230px;
    padding-left:20px;
}

section{
    float: right;
    margin-right: 40px;
    border-color: rgb(60, 12, 66);
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
}

.today {
    padding:10px;
    color: rgb(60, 12, 66);
    
}
